---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import ServiceCard from "../components/ServiceCard.astro";

import { getImage } from "astro:assets";

import logo from "../images/Logo.svg";
import graffitiImage from "../images/graffiti.jpeg";
import noiseImage from "../images/noise-texture.svg";

const graffitiBackground = await getImage({
  src: graffitiImage,
  format: "jpeg",
});

const noiseTexture = await getImage({
  src: noiseImage,
  format: "svg",
});

const title = "Home";
const services = [
  {
    title: "AI Training and Workshops",
    emoji: "🧠",
    resume: "Take the advantage of AI tools",
    callToAction: "Empower your developers",
  },
  {
    title: "Data Preparation and Management",
    emoji: "🍄",
    resume: "Your data quality makes the difference",
    callToAction: "Get better results",
  },
  {
    title: "Custom AI Development Solutions ",
    emoji: "🛠️",
    resume: "Tailored AI solutions for your company",
    callToAction: "Save time and money",
  },
];
---

<Layout title={title}>
  <Header />
  <section class="sm:m-auto container py-5 sm:py-8 h-screen relative z-10">
    <div class="flex justify-between mx-4">
      <Image class="w-32 sm:w-40 -mt-1" src={logo} alt="CodeNewt Logo" />
      <a
        class="rounded-full py-2 px-4 bg-gradient-to-b from-oxygen to-lapis text-sm"
      >
        Start your project
      </a>
    </div>
    <div
      class="rounded-lg border mt-8 sm:mt-10 p-12 border-graphite text-center sm:h-4/5 grid place-items-center bg-no-repeat bg-cover bg-center mx-4"
      style={`background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('${graffitiBackground.src}');`}
    >
      <div class="flex flex-col gap-16">
        <h1 class="text-4xl sm:text-8xl">
          Take your vision into a <br /> reality and take business <br />
           🦄 to the next level 🚀
        </h1>
        <div class="grid sm:grid-cols-3 gap-4 sm:w-9/12 m-auto">
          {
            services.map((service) => (
              <ServiceCard
                title={service.title}
                emoji={service.emoji}
                resume={service.resume}
                callToAction={service.callToAction}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <div
    class="bg-nitrogen-elipse blur-[100px] h-2/3 absolute top-2/4 left-2/4 z-0 translate-x-[-50%] translate-y-[-50%] w-3/4"
  >
  </div>
  <Footer />
</Layout>
